.conteiner{
    width: 90%;
    margin: auto;
    /* border: 1px solid green; */
    margin-top: 100px;
}

.footer label{
    color: black;
}


.error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    /* display: none; */
}



@media (max-width: 1120px) {
    .conteiner{
        margin-top: 250px;
    }
}