.conteiner-signup {
  margin: auto;
}

#error-email {
  color: red;
}

.banner-log {
  width: 50%;
  text-align: center;
  /* margin-right: 50px; */
}

.banner-log img {
  width: 100%;
}

.complete-name {
  display: flex;
  margin-bottom: 10px;
}

.email-box {
  margin-bottom: 10px;
}

.birthsday {
  display: flex;
}

.radio-butoms {
  display: flex;
}

.conteiner-signup.hidde{
  display: none;
}