.search-perfiles {
  width: 100%;
}

.nombredisc {
  color: black;
}

.display-event {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}



.info-busque-event {
  width: 250px;
  height: 400px;
  background: black;
  padding: 3px;
  margin-bottom: 60px;
}

.info-busque-event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  justify-content: space-around;
}

.info-busque-event-circle {
  width: 250px;
  height: 250px;
  background: black;
  padding: 3px;
  margin-bottom: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.info-busque-event-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  justify-content: space-around;
  border-radius: 50%;
}


.icon_history-none {
  width: 70px;
  height: 70px;
  border: 1px solid red;
  margin-left: 73%;
  margin-top: -29%;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.icon_history-none i{
  font-size: 70px;
  color: white;
}

.border-no-view {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

@media (max-width: 1250px) {
  .display-event {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 980px) {
  .display-event {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 750px) {
  .info-busque-event {
    width: 150px;
    height: 250px;
    margin-bottom: 60px;
  }
  .info-busque-event-circle {
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
  }
  .display-event {
    grid-template-columns: auto auto auto;
  }

  .icon_history-none {
    width: 50px;
    height: 50px;
    margin-top: -34%;
  }
  
  .icon_history-none i{
    font-size: 50px;
  }
}

@media (max-width: 700px) {
  .info-busque-event {
    width: 100px;
    height: 170px;
  }
  .info-busque-event-circle {
    width: 100px;
    height: 100px;
  }

  .icon_history-none {
    width: 30px;
    height: 30px;
    margin-top: -31%;
  }
  
  .icon_history-none i{
    font-size: 30px;
  }

  .nom_history{
    font-size: 13px;
  }
}
