.biograf{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    height: 400px;
}

.portada{
    width: 100%;
    height: 300px;
    /* border: 1px solid green; */
}

.portada img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

.perfil{
    border: 3px solid black;
    height: 200px;
    width: 200px;
    border-radius: 60%;
    margin-left: 10px;
    margin-top: -200px;
    /* position: relative; */
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

/* .nombre{ */
    /* transform: translateY(-190px); */
    /* margin-left: 220px; */
    /* position: relative; */
/* } */

.pen{
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto; /* X,Y */
    font-size: inherit; /* Indiferente */
    text-align: center;
    /* border: 1px solid red; */
}

.pen2{
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto; /* X,Y */
    font-size: inherit; /* Indiferente */
    text-align: center;
    margin-top: -30px;
    /* border: 1px solid red; */
}

.biograf i{
    color: rgb(10, 6, 245);
    cursor: pointer;
}


.edit{
    width: 300px;
    margin: auto;
}

.botones-edit{
    width: 300px;
}

.messege-icon{
    width: 250px;
    display: flex;
}

.icon_messages_perfil{
    width: 60px;
}


.messege-icon i{
    font-size: 50px;
    color: rgb(97, 95, 95);
}

.box-button-follow{

}

.button_follow{
    width: 150px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.lettle_follow{
    width: 50px;
    margin: auto;
    border-top: 4px solid red;
}

.icon_follow{
    width: 35px;
    margin: auto;

}
.icon_follow i{
    font-size: 33px;

}


.folower{

    width: 200px;
    margin-top: -26px;
    margin-left: 400px;
}


@media (max-width: 1088px){
    
}