.container-one {
  width: 100%;
  position: fixed;
  top: 0;
}

.barra-inicio-new {
  background: red;
}

.nav-main {
  width: 90%;
  margin: auto;
  font-size: 17px;
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-main ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  height: 60px;
  align-items: center;
  margin-top: 0;
}

.nav-main li {
  padding: 10px;
}

.cir-num-mjs {
  width: 25px;
  height: 25px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  margin-top: -25px;
  margin-right: -70px;
}

.cicule-mjs {
  width: 25px;
  height: 25px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: 22px;
  z-index: 1000;
}

.nav-main li a:hover {
  text-decoration: none;
}

/* logo */
#logo {
  height: 90px;
  margin-top: 0;
}

.conteinner_logo{
}

.link-index {
  border-bottom: red;
}

#logo:hover {
  border-bottom: red;
}

#logo2 {
  display: none;
}

.conteier_perfil_img{
}

.img-barra {
  display: inline-block;
  position: relative;
}

.img-box {
  width: 60px;
  height: 60px;
  padding: 3px;
}

.icon-message {
  /* border: 1px solid green; */
  margin-top: -11px;
}

.img-barra img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.message-btn {
  cursor: pointer;
}

#icon-logo {
  width: 40px;
  height: 40px;
}

.bar-main-rigth ul.bar-menu-rigth {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(240, 240, 240);
  height: 550px;
  padding: 30px;
  opacity: 0.9;
  margin-top: 62px;
}

.bar-main-rigth ul {
  list-style: none;
}

.bar-main-rigth ul.bar-menu-rigth {
  display: block;
  transform: translateX(400px);
  transition: 0.5s ease-in-out;
}

.bar-main-rigth ul.bar-menu-rigth.show {
  transform: translateX(0);
}

.bar-menu-rigth {
  width: 310px;
}

.bar-menu-rigth li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.bar-menu-rigth h4 {
  color: rgb(0, 0, 0);
}

.bar-menu-rigth {
  overflow: auto;
}

.bar-menu-rigth li {
  padding: 3px;
}

.bar-menu-rigth a {
  text-decoration: none;
}

.bar-menu-rigth h2 {
  color: rgb(0, 0, 0);
}

.message-box-nav {
  width: 100%;
  height: 55px;
  background: white;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 3px;
}

.message-box-nav a {
  color: red;
}

.pruh1 {
  color: rgb(0, 0, 0);
}

.message-box-nav P {
  color: rgb(0, 0, 0);
}

.message-box-nav b {
  color: rgb(0, 0, 0);
}

.go-out {
  font-size: 30px;
  color: white;
}

.conteiner_buton_menu{
}

.menu-btn {
  margin-top: 120px;
  display: none;
  cursor: pointer;
}

.menu-btn i {
  font-size: 50px;
  color: white;
}

.bar-main ul.bar-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #2f3640;
  height: auto;
  padding: 30px;
  opacity: 0.9;
  font-family: "Oswald", sans-serif;
}

.foto-bar {
  opacity: 100%;
}

.bar-main ul {
  list-style: none;
}

.bar-menu li a {
  text-decoration: none;
  color: white;
}

.bar-menu li {
  padding: 10px;
}

.bar-menu li:hover {
}

.bar-menu img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}



/* para mobilles */
.search {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.search-button-two {
  cursor: pointer;
}

.search-button-two i {
  font-size: 30px;
}

.search input {
  height: 42px;
  width: 500px;
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.search input.active {
  opacity: 1;
  pointer-events: auto;
}

.search button {
  width: 47px;
  height: 42px;
  outline: none;
  color: white;
  background: red;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
  border: none;
}

.search button.active {
  color: #fff;
  background: #333;
}

.search button.active i::before {
  content: "\f00d";
}

@media (max-width: 1120px) {
  .bar-main ul.bar-menu {
    display: block;
    transform: translateX(-400px);
    transition: 0.5s ease-in-out;
  }

  .bar-main-rigth {
    display: none;
  }

  .bar-main ul.bar-menu.showed {
    transform: translateX(0);
  }

  .middle-nav {
    display: none;
  }

  .conteier_perfil_img {
    display: none;
  }

  .icon-message {
    display: none;
  }

  .icon-out {
    display: none;
  }
  #logo {
    display: none;
  }
  #logo2 {
    display: block;
    width: 100px;
    margin-top: 110px;
  }
  #logo2:hover {
    border-bottom: red;
  }

  .barra-inicio-new {
    height: 140px;
  }
  .nav-main {
    height: 140px;
  }
  .container-one {
    margin-top: -40px;
    height: 140px;
  }
  .menu-btn {
    display: block;
  }
  .search-button-two {
    margin-top: 120px;
  }
}

@media (max-width: 860px) {
  .search input {
    width: 400px;
  }
}

@media (max-width: 760px) {
  .search input {
    width: 300px;
  }
}

@media (max-width: 660px) {
  .search input {
    width: 200px;
  }
}

@media (max-width: 618px) {
  .nav-main ul {
    justify-content: space-around;
  }
}

@media (max-width: 560px) {
  .search input {
    width: 170px;
  }
}

@media (max-width: 545px) {
  .search input {
    width: 150px;
  }
}

@media (max-width: 486px) {
  .search input {
    width: 140px;
  }
}

@media (max-width: 389px) {
  .search input {
    width: 130px;
  }
}

@media (max-width: 414px) {
  .conteiner {
    width: 100%;
  }
}
