.publicacion {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}


.pub-img-box {
  width: 400px;
  height: 400px;
  margin: auto;
}

.fecha{
  font-size: 10px;
}

.pub-img-box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center center;
}

.piecera {
  width: 400px;
  margin: auto;
}

.like-wait {
  font-size: 40px;
  cursor: pointer;
}

.like-red {
  font-size: 40px;
  cursor: pointer;
  color: red;
}

.publicacion-text {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  
}



.container-scroll{
  margin-top: -40px;
}

.container-scroll h2 {
  text-align: center;
}

.buton_like {
  border: 1px solid white;
  background: white;
}

.corcho{
  display: none;
}

.post_setting{
  width: 25px;
  height: 25px;
  align-items: center;
  cursor: pointer;
  margin-left: 93%;
  margin-top: -40px;
}

.box_setting{
  width: 17px;
  height: 23px;
  margin: auto;
}

.options-edit-post{
  width:90px;
  border: 1px solid black;
  margin-left: 80%;
  text-align: center;
  border-radius: 5px;
}

.options-edit-post.show{
  display: block;
}

.text-gren{
  color: rgb(6, 177, 77);
  cursor: pointer;
}
.text-red{
  color: rgb(248, 8, 8);
  cursor: pointer;
}

.text-gren:hover{
  border-bottom: 2px solid rgb(6, 177, 77);
}
.text-red:hover{
  border-bottom: 2px solid rgb(248, 8, 8);
}

.options-edit-post ul{
  list-style: none;
}



.btn-post{
  display: flex;
}
.btn-post button{
  width: 45%;
  margin: auto;
}

@media (max-width: 1120px) {
  .phone-size {
    margin-top: 300px;
  }
  .corcho{
    display: block;
  }
}

@media (max-width: 556px) {
  .publicacion {
    width: 400px;
  }
  .pub-img-box {
    width: 300px;
    height: 300px;
  }

  .pub-img-box img {
    width: 300px;
    height: 300px;
  }

  .piecera {
    width: 300px;
  }
  .publicacion-text {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .publicacion {
    width: 400px;
  }
  .pub-img-box {
    width: 300px;
    height: 300px;
  }

  .pub-img-box img {
    width: 300px;
    height: 300px;
  }

  .piecera {
    width: 300px;
  }
  .publicacion-text {
    width: 400px;
  }
}


@media (max-width: 438px) {
  .publicacion {
    width: 300px;
  }
  .pub-img-box {
    width: 200px;
    height: 200px;
  }

  .pub-img-box img {
    width: 200px;
    height: 200px;
  }

  .piecera {
    width: 200px;
  }
  .publicacion-text {
    width: 300px;
  }
}

