.conteiner-nav-two{
    width: 76%;
    height: 30px;
    margin: auto;
    top: 60px;
    background-color: white;
    position: fixed;


}

.nav-two{
    transform: translateY(10px);
    width: 200px;
    margin: auto;

}

@media(max-width: 2410px){
    .nav-two{
        transform: translateX(280px);
    
    }
}

@media(max-width: 2009px){
    .nav-two{
        transform: translateX(240px);
    
    }
}

@media(max-width: 1748px){
    .nav-two{
        transform: translateX(210px);
    
    }
}

@media(max-width: 1421px){
    .nav-two{
        transform: translateX(170px);
    
    }
}

@media(max-width: 1309px){
    .nav-two{
        transform: translateX(155px);
    
    }
}

@media(max-width: 1245px){
    .nav-two{
        transform: translateX(150px);
    
    }
}

@media(max-width: 1188px){
    .nav-two{
        transform: translateX(140px);
    
    }
}

@media(max-width: 1120px){
    .conteiner-nav-two{
        display: none;
    
    }
}