.publicacion {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}


.pub-img-box {
  width: 400px;
  height: 400px;
  margin: auto;
}

.fecha{
  font-size: 10px;
}

.pub-img-box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center center;
}

.piecera {
  width: 400px;
  margin: auto;
}

.like{
  width: 100px;
}

.like-wait {
  font-size: 40px;
  cursor: pointer;
}

.like-red {
  font-size: 40px;
  cursor: pointer;
  color: red;
}

.display-form{
  display: flex;
}

.coment-box{
  width: 50px;
}

.publicacion-text {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  
}

.conment-icon{
  font-size: 40px;
  cursor: pointer;
}

.name_and_date_post{
  width: 100%;
  /* border: 1px solid grey; */
  margin-top: -15px;
}

.container-scroll{
  margin-top: -40px;
}

.container-scroll h2 {
  text-align: center;
}

.buton_like {
  border: 1px solid white;
  background: white;
}

.corcho{
  display: none;
}

.post_setting{
  width: 25px;
  height: 25px;
  align-items: center;
  cursor: pointer;
  margin-left: 93%;
  margin-top: -44px;
}

.box_setting{
  width: 17px;
  height: 23px;
  margin: auto;
}

.options-edit-post_space{
  width: 95px;
  margin-top: 15px;
  margin-left: 75%;
}

.options-edit-post{
  width:90px;
  border: 1px solid black;
  /* margin-left: 80%; */
  text-align: center;
  border-radius: 5px;
}

.options-edit-post.show{
  display: block;
}

.text-gren{
  color: rgb(6, 177, 77);
  cursor: pointer;
}
.text-red{
  color: rgb(248, 8, 8);
  cursor: pointer;
}

.text-gren:hover{
  border-bottom: 2px solid rgb(6, 177, 77);
}
.text-red:hover{
  border-bottom: 2px solid rgb(248, 8, 8);
}

.options-edit-post ul{
  list-style: none;
}



.btn-post{
  display: flex;
}
.btn-post button{
  width: 45%;
  margin: auto;
}

.title-coment{
  font-size: 15px;
  color: grey;
  cursor: pointer;
}

.coment_add_box{
  width: 100%;
  margin-bottom: 10px;
}

.coment_add_input{
  width: 85%;
}

.coment_add_box_center{
  width: 100%;
  display: flex;
}

.coment-text-box{
  width: 90%;
  margin: auto;
  font-size: 15px;
}

.model-coment-view{
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.estado_lettle{
  width: 100%;
  /* border: 1px solid red; */
}

.estado_lettle p{
  word-wrap: break-word;
  padding: 8px 1px;
}




.head_coment_text_box{
  display: flex;
}

.img_perfil_coment{
  height: 25px;
  width: 25px;
}

.img_perfil_coment img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.name_perfil_coment{
  margin-top: 5px;
}

.coment_value{
  margin-left: 30px;
  padding: 0;
}

.coment_value p{
  word-wrap: break-word;
  padding: 1px 1px;
}

.coment_date{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1120px) {
  .phone-size {
    margin-top: 300px;
  }
  .corcho{
    display: block;
  }
}

@media (max-width: 556px) {
  .publicacion {
    width: 400px;
  }
  .pub-img-box {
    width: 300px;
    height: 300px;
  }

  .pub-img-box img {
    width: 300px;
    height: 300px;
  }

  .piecera {
    width: 300px;
  }
  .publicacion-text {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .publicacion {
    width: 400px;
  }
  .pub-img-box {
    width: 300px;
    height: 300px;
  }

  .pub-img-box img {
    width: 300px;
    height: 300px;
  }

  .piecera {
    width: 300px;
  }
  .publicacion-text {
    width: 400px;
  }
}


@media (max-width: 438px) {
  .publicacion {
    width: 300px;
  }
  .pub-img-box {
    width: 200px;
    height: 200px;
  }

  .pub-img-box img {
    width: 200px;
    height: 200px;
  }

  .piecera {
    width: 200px;
  }
  .publicacion-text {
    width: 300px;
  }
}

