.box-main-two {
  width: 100%;
  display: none;
}


.bar-box-main-two{
    width: 100%;
    background-color: white;
}

.box-create-two {
  width: 300px;
  margin: auto;
  display: flex;
  background-color: white;
}

.box-create-two i {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.box-boton {
  width: 30px;
  height: 30px;
  /* border: 1px solid seagreen; */
  margin: auto;
}

.lapiz-i {
  margin-bottom: 20px;
}

/* agregar posts responsive */


.inps {
  width: 400px;
  color: white;
  margin: auto;
  background-color: red;
  text-align: center;
  border-radius: 16px;
}

.in-ag-post {
  width: 310px;
  /* border: 1px solid black; */
  margin: auto;
}

/* barra de botones post responsive */



/* clases sumadas  */


@media (max-width: 1120px) {
  .box-main-two {
    display: block;
  }
}


@media (max-width: 414px) {
  .box-create-two {
    width: 200px;
    /* margin-left: 70px; */
  }
}
