.conteiner-chat-box {
  width: 90%;
  margin: auto;
  margin-top: -25px;
}

.conteiner-messaje h1 {
  text-align: center;
}

.icon-dm {
  text-decoration: none;
  color: #333;
}

.icon-dm-box {
  width: 40px;
  height: 40px;
  margin: 0 0 0 auto; /* X,Y */
  font-size: inherit; /* Indiferente */
  text-align: center;
}

.icon-dm:hover {
  color: #333;
}

.dm-letter {
  height: 390px;
  overflow: auto;
}

.dm-writer {
  height: 80px;
  display: flex;
}

.dm-writer textarea {
  margin-left: 55px;
}

.message-box {
  width: 600px;
  background: white;
  margin: auto;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.message-box-mine {
  width: 600px;
  background: white;
  margin: auto;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 5px;
  text-align: right;
  word-wrap: break-word;
}

.message-box b {
  color: rgb(0, 0, 0);
}
.message-box p {
  color: rgb(0, 0, 0);
}

.message-box-mine b {
  color: rgb(0, 0, 0);
}
.message-box-mine p {
  color: rgb(0, 0, 0);
}

/* signup form css code */

.wrapper {
  background: #fff;
  width: 100%;
  border-radius: 16px;
}

.form {
  padding: 25px 38px;
}
.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 20px 0;
}

.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

.form form .name-details {
  display: flex;
}

form .name-details .field:first-child {
  margin-right: 10px;
}

form .name-details .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: rgb(3, 168, 52);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: #333;
}

.form .link a:hover {
  text-decoration: underline;
}

/* users area css */

.users {
  padding: 25px 30px;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .details {
  color: #000;
  margin-left: 15px;
}

:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: rgb(207, 26, 26);
  border-radius: 5px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.users .search input.active {
  opacity: 1;
  pointer-events: auto;
}

.users .search button {
  width: 47px;
  height: 42px;
  outline: none;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
  border: none;
}

.users .search button.active {
  color: #fff;
  background: #333;
}

.users .search button.active i::before {
  content: "\f00d";
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}

:is(.chat-box, .users-list)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  margin-bottom: 15px;
  page-break-after: 10px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}

.users-list a .content img {
  height: 40px;
  width: 40px;
}

.users-list a .content p {
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
}

/* clase para ver  si esta online */
.users-list a .status-dot.offline {
  color: #ccc;
}

/* chat area code*/
.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area header .back-icon {
  font-size: 18px;
}

.chat-area header img {
  height: 40px;
  width: 40px;
  margin: 0 15px;
}

.chat-area header {
  font-size: 17px;
  font-weight: 500;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  /* background: #f7f7f7; */
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32 rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.letter-comver {
  text-align: center;
}

.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.incoming .details {
  /* border: 1px solid green; */
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
  height: auto;
  margin-bottom: -15px;
}

.incoming .details p {
  color: #333;
  background: rgb(235, 230, 230);
  border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  background: rgb(18, 173, 65);
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.chat-box-secrete {
  height: 370px;
}

.color-secrete {
  background-color: black;
}

.time_date{
  color: rgb(92, 92, 92);
  font-size: 12px;
}

.outtime{
  text-align: right;
}

.incog{
  width: 110px;
  margin: auto;
  height: 25px;
  padding: 0;
  text-align: center;
  /* border: 1px solid blue; */
  margin-top: -40px;
}

.status_online{
  color: rgb(0, 177, 53);
}

@media (max-width: 1120px) {
  .chat-box {
    height: 1040px;
  }
  .conteiner-chat-box {
    margin-top: -150px;
  }
}

@media (max-width: 769px) {
  .chat-box {
    height: 700px;
  }
}


@media (max-width: 414px) {
  .conteiner-chat-box {
    width: 100%;
    /* border: 1px solid blue; */
  }
  .chat-box {
    height: 420px;
  }
  .wrapper{
    /* border: 1px solid green; */
    width: 100%;
    padding: 0;
    margin: 0;
  }
}



@media (max-width: 411px) {
  .chat-box {
    height: 500px;
  }
}

@media (max-width: 376px) and (max-height: 667px){
  .chat-box {
    height: 300px;
  }
}

@media (max-width: 360px) {
  .chat-box {
    height: 330px;
  }
}


@media (max-width: 320px) {
  .chat-box {
    height: 280px;
  }
}