.biograf{
    width: 90%;
    margin: auto;
    height: 400px;
}

.portada{
    width: 100%;
    height: 300px;
}

.portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.perfil{
    border: 3px solid black;
    height: 200px;
    width: 200px;
    border-radius: 60%;
    margin-left: 10px;
    margin-top: -200px;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.pen{
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto; 
    font-size: inherit; 
    text-align: center;
}

.pen2{
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    font-size: inherit; 
    text-align: center;
    margin-top: -30px;
}

.biograf i{
    color: rgb(10, 6, 245);
    cursor: pointer;
}


.edit{
    width: 300px;
    margin: auto;
}

.botones-edit{
    width: 300px;
}

.messege-icon{
    width: 250px;
    display: flex;
}

.icon_messages_perfil{
    margin-left: 60px;
    width: 50px;
}

.buttons-box{
    width: 100%;
    display: flex;
}

.messege-icon i{
    font-size: 40px;
    color: rgb(97, 95, 95);
}

#folowers_perfil{
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.box-button-follow{

}


.button_follow{
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    /* border-radius: 20px; */
    /* border: 3px solid purple; */
}

.message-icon-box{
    width: 50px;
}

.message-icon-box i{
    font-size: 30px;
}

.lettle-button-follow{
    width: 50px;
    margin-top: 4px;
    margin-left: 25px;
}



.icon_follow{
    width: 35px;
    margin: auto;

}
.icon_follow i{
    font-size: 25px;
    margin-top: 3px;
    margin-left: 5px;
    color: white;
}


.folower{

    width: 200px;
    margin-top: -26px;
    margin-left: 400px;
}

.cant_follow_conteiner{
    width: 250px;
    /* border: 1px solid red; */
}


@media (max-width: 500px){
    .biograf{
        width: 100%;
    }
    .portada{
        height: 200px;
    }
}