.conteiner{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.footer{
    width: 300px;
    margin-left: 10px;
}

.footer label{
    color: black;
    cursor: pointer;
}

.contein-editor{
    display: none;
    margin: auto;
    background-color: white;
}

.contein-editor-history{
    display: none;
    margin: auto;
    background-color: white;
}

.editor-brs{
    display: none;
}

.contein-editor.show{
    display: block;
}

.contein-editor-history.show{
    display: block;
}

.textos_stados{
    display: none;
}

.textos_stados.show{
    display: block;
}

.error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    /* display: none; */
}



@media (max-width: 1120px) {
    .conteiner{
        margin-top: 250px;
    }
    .editor-brs{
        display: block;
    }
}